In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [5]:
df_survey = pd.read_csv('Data_Science_Topics_Survey.csv')

print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [6]:
df_survey.head()

,Timestamp,What's your level of interest for the following areas of Data Science? [Data Visualization],What's your level of interest for the following areas of Data Science? [Machine Learning],What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics],What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)],What's your level of interest for the following areas of Data Science? [Data Journalism],What's your level of interest for the following areas of Data Science? [Deep Learning]
0,2017/10/17 1:11:52 PM MDT,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,2017/10/17 2:26:07 PM MDT,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,2017/10/17 2:37:08 PM MDT,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,2017/10/17 2:39:26 PM MDT,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,2017/10/17 2:43:59 PM MDT,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested

In [7]:
df_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2233 entries, 0 to 2232
Data columns (total 7 columns):
Timestamp                                                                                              2233 non-null object
What's your level of interest for the following areas of Data Science? [Data Visualization]            2176 non-null object
What's your level of interest for the following areas of Data Science? [Machine Learning]              2180 non-null object
What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics]    2192 non-null object
What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)]     2188 non-null object
What's your level of interest for the following areas of Data Science? [Data Journalism]               2120 non-null object
What's your level of interest for the following areas of Data Science? [Deep Learning]                 2169 non-null object
dtypes: object(7)
memory usage: 122.2+ KB

In [9]:
df_survey.columns.values

array(['Timestamp',
       "What's your level of interest for the following areas of Data Science? [Data Visualization]",
       "What's your level of interest for the following areas of Data Science? [Machine Learning]",
       "What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics]",
       "What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)]",
       "What's your level of interest for the following areas of Data Science? [Data Journalism]",
       "What's your level of interest for the following areas of Data Science? [Deep Learning]"],
      dtype=object)

In [10]:
df_survey.index.values

array([   0,    1,    2, ..., 2230, 2231, 2232])

In [12]:
print(type(df_survey.columns))
print(type(df_survey.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [13]:
df_survey.columns.tolist()
df_survey.index.tolist()

print (type(df_can.columns.tolist()))
print (type(df_can.index.tolist()))

<class 'list'>
<class 'list'>

In [14]:
df_survey.shape

(2233, 7)

In [27]:
df_survey.rename(columns={"What's your level of interest for the following areas of Data Science? [Data Visualization]":'Data Visualization'}, inplace=True)
df_survey.columns

Index(['Data Visualization', 'Machine Learning', 'Data Analysis / Statistics',
       'Big Data (Spark / Hadoop', 'Data Journalism', 'Deep Learning'],
      dtype='object')

In [28]:
df_survey.rename(columns={
    "What's your level of interest for the following areas of Data Science? [Machine Learning]":'Machine Learning',
    "What's your level of interest for the following areas of Data Science? [Data Analysis / Statistics]":'Data Analysis / Statistics',
    "What's your level of interest for the following areas of Data Science? [Big Data (Spark / Hadoop)]":'Big Data (Spark / Hadoop',
    "What's your level of interest for the following areas of Data Science? [Data Journalism]":'Data Journalism',
    "What's your level of interest for the following areas of Data Science? [Deep Learning]":'Deep Learning'
    
}, inplace=True)
df_can.columns

Index(['Timestamp', 'Data Visualization', 'Machine Learning',
       'Data Analysis / Statistics', 'Big Data (Spark / Hadoop',
       'Data Journalism', 'Deep Learning'],
      dtype='object')

In [29]:
df_survey.describe()

,Data Visualization,Machine Learning,Data Analysis / Statistics,Big Data (Spark / Hadoop,Data Journalism,Deep Learning
count,2176,2180,2192,2188,2120,2169
unique,3,3,3,3,3,3
top,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
freq,1340,1629,1688,1332,1081,1263

In [30]:
df_survey.head()

,Data Visualization,Machine Learning,Data Analysis / Statistics,Big Data (Spark / Hadoop,Data Journalism,Deep Learning
0,Very interested,Very interested,Somewhat interested,Not interested,Somewhat interested,Somewhat interested
1,Very interested,Very interested,Very interested,Somewhat interested,Not interested,Very interested
2,Not interested,Very interested,Somewhat interested,Very interested,Not interested,Very interested
3,Very interested,Very interested,Very interested,Very interested,Somewhat interested,Very interested
4,Somewhat interested,Very interested,Very interested,Very interested,Not interested,Somewhat interested